body {
    width: 800px;
    margin: 0 auto;
    padding: 0px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrap {
    background-color: rgb(247, 241, 235);
    border-color: rgb(138, 120, 102);
    padding-top: 1px;
    padding-bottom: 2.0em;
    border-style: none solid;
    border-width: 2px;
}

header, nav {
    text-align: center;
}

h1 {
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    margin: 2px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav.binder {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

nav.binder a {
    text-decoration: none;
    font-size: xx-large;
    display: inline-block;
    margin: 0 0.3em;
    color:rgb(48, 25, 2);
    border-color: rgb(145, 110, 76);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(220, 184, 149);
    border-radius: 0.2em;
    padding: 2px 6px;
}

nav.binder a.arrow {
    padding: 2px 8px 0.15em;
}

nav.binder a:hover {
    background-color: rgb(237, 193, 150);
    border-color: rgb(179, 137, 94);
    color:rgb(165, 111, 57);
}

nav.binder a.disabled {
    background-color: rgb(151, 142, 123);
    border-color: rgb(130, 120, 111);
    color: rgb(151, 142, 123);
}

nav.binder a.disabled:hover {
    cursor: default;
}