<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="assets/styles.css" />
        <title>{% block title %}QuickMTG{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
    <script>
        $(function() {
            {% block onready %}
            {% endblock %}
        })
    </script>
        <div id="wrap">
            <header>
            {% block header %}
                <h1>Binder Page</h1>
            {% endblock %}
            </header>
            <main>
            {% block content %}
                <p>Default Binder Contents</p>
            {% endblock %}
            </main>
        </div>
    </body>
</html>
