{% macro binder_nav(page_number, total_pages) %}
<nav class="binder">
    {% if page_number - 1 > 0 %}
    <a class="arrow" href="binder{{ '%03d' % (page_number - 1) }}.html">&larr;</a>
    {% else %}
    <a class="arrow disabled" href="#">&larr;</a>
    {% endif %}
    <a href="index.html">Index</a>
    {% if page_number + 1 <= total_pages %}
    <a class="arrow" href="binder{{ '%03d' % (page_number + 1) }}.html">&rarr;</a>
    {% else %}
    <a class="arrow disabled" href="#">&rarr;</a>
    {% endif %}
</nav>
{% endmacro %}

{% macro infobox_dialog(id) %}
                <div id="{{ id }}">
                    <h4 class="detail-title"></h4>
                    <img class="detail-image" />
                    <table class="detail-data">
                        <tr>
                            <td>Name</td>
                            <td class="detail-name"></td>
                        </tr>
                        <tr>
                            <td>Owned</td>
                            <td class="detail-owned"></td>
                        </tr>
                        <tr>
                            <td>Condition</td>
                            <td class="detail-cond"></td>
                        </tr>
                    </table>
                </div>
{% endmacro %}

{% macro infobox_setup(id, opener_selector, eventfn) %}
                $("#{{ id }}").dialog({autoOpen: false});
                $(opener_selector).click(function() {
                    $("#{{ id }}").dialog("open");
                })
{% endmacro %}