{% extends "view/_base.html.jinja" %}
{% import "view/_components.html.jinja" as components %}

{% block onready %}
{{ components.infobox_setup("cardinfo-modal", "a.card") }}
{%- endblock %}

{% block title %}Binder Page {{ page_number }}{% endblock %}

{% block header %}
                <h1>Binder</h1>
                <h3>Page {{ page_number }}/{{ total_pages }}</h3>
{% endblock %}

{% block content %}
                <div>
                    {{ components.infobox_dialog("cardinfo-modal") | indent(4*5) }}
                </div>
                {{ components.binder_nav(page_number, total_pages)|indent(4*4) }}
                <table class="binderpage">
                {% for row in cards %}
                    <tr>
                    {% for card in row %}
                        {% if card is none %}
                        <td class="empty"><img src="assets/images/back.jpg" alt="a blank slot" width="{{ 'small'|sizew }}" height="{{ 'small'|sizeh }}" /></td>
                        {% else %}
                        <td class="filled{{ " foil" if card.foil else "" }}">
                            <a class="card" href="javascript:void(0);" title="{{ card.name }}" data-name="{{ card.name }}" data-owned="{{ card.count }}" data-foil="{{ card.foil }}" data-cond="{{ card.condition }}" data-img="{{ card | cardfile('large') }}">
                                <img class="card" src="assets/images/{{ card | cardfile }}" width="{{ 'small'|sizew }}" height="{{ 'small'|sizeh }}" alt="{{ card.setnum }}" />
                                {% if card.count > 1 %}
                                <img class="card multiowned" src="assets/images/{{ card | cardfile }}" width="{{ 'small'|sizew }}" height="{{ 'small'|sizeh }}" alt="{{ card.setnum }}" />
                                {% endif %}
                            </a>
                        </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
                {{ components.binder_nav(page_number, total_pages)|indent(4*4) }}
{% endblock %}