{% extends "view/_base.html" %}
{% block title %}Binder Index{% endblock %}
{% block header %}"{{ binder_name|title|e }}" Binder Index{% endblock %}
{% block content %}
<ol>
    <li><a href="binder001.html">First Page</a></li>
</ol>
{% endblock %}
